html {
  scroll-behavior: smooth;
}

.fa-thumbs-up{
  font-size: 2rem;
}

.hey1
{
	font-family: 'Satisfy', cursive;
  padding-top: 150px;
  padding-right: 0px;
}

.acifico{
  font-size: 40px;
  font-family: 'Zhi Mang Xing', cursive;
  position: relative;
  text-align: left;
  padding-top: 100px;
  padding-left: 20px;
  }

.nav-link{
font-family: 'Lato', sans-serif;
 color: #000;
}


.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

#a1{
  width: 100%;
  height: 300px;
  background-image: url(hello1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: 1600px 300px;
  position: relative;
  padding-top: 20px;
}



/*.container-fluid1{
  width: 100%;
  height: 40px;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C73, #23A6D5, #23D5AB);
  position: relative;
  padding-top: 0px;
}*/
/*.jumbotron {

  
    background-image: url("FAQ1.jpeg");
    /*filter:blur(5px);
    background-repeat: no-repeat;
    background-attachment: scroll;
   
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    
    


    padding: 0px;
   
    margin-top: -20px;
}*/

.ct-socials {
    position: fixed;
    top: 25%;
    right: 0;
    list-style: none;
    padding-left: 0;
    z-index: 10;
    margin: 0;
    -webkit-transition: right 0.25s ease-in-out;
    transition: right 0.25s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.ct-socials li {
    padding: 0px 0;
}
.ct-socials li a {
    background: #3f4653;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    width: 44px;
    height: 54px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    float: right;
    padding-left: 5px;
}
.ct-socials li a:hover {
    width: 54px;
    padding-left: 0;
    text-decoration: none;
    background: #3c9bd9;
}
.section.triad-section {
  margin-top: 10px;
}
section.section h2 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 0;
}
h2 {
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    letter-spacing: -1px;
}
section.section p.sub-heading {
    font-size: 16px;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}
section.triad-section .triad-sub-section {
    padding-right: 60px;
}
section p.detail-paragraph:first-child {
    margin-top: 0;
}
section p.detail-paragraph {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 40px;
    font-size: 18px;
    color: #000;
}
b, strong {
    font-weight: 700;
}

.wrapper{
  /*background: url("FAQ1.jpeg") no-repeat center ;*/
  width: 100%;
  height: 20vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding-top: -10px;*/

}

/*.search_box{
  width: 50%;
  position: relative;
}

.search_box input[type="text"]{
  width: 50%;
  padding: 20px;
  padding-left: 100px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.3);
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  outline: none;
}
.fa-search{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  color: #fff;
  font-size: 25px;
}*/

.search-box{
  position: absolute;
  /*top: 37%;*/
  left: 75%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding-top: -10px;
}

.search-box:hover > .search-txt{
  width: 200px;
  padding: 0px;
  padding-left: 20px;
}

.search-box:hover > .search-btn{
  background: white;

}

.search-btn{
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}